.card-container {
  cursor: pointer;
  height: 300px;
  perspective: 600;
  position: relative;
  width:400px;
  margin-top: 50px;
 /* left: 33%;*/
 margin-right: auto;
 margin-left: auto; 
 /*text-align: center;*/
}
.card {
  /*display: inline-block;*/
  height: 100%;
  width: 100%;

  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out; 
}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
  
}
img{
  width: 400px;
  height: 300px;
}
.card .back {
  background-color: rgba(137, 188, 255, 0.5);
    color: white;
  /*line-height: 150px;*/
  height: 300px;
  width: 400px;
  padding-left: 5px;
  transform: rotateY(180deg);
}
.p2{
  text-align: left;
  font-size: 15px;
}