<div class="sk-fading-circle" *ngIf="spinner">
    <div class="sk-circle1 sk-circle"></div>
    <div class="sk-circle2 sk-circle"></div>
    <div class="sk-circle3 sk-circle"></div>
    <div class="sk-circle4 sk-circle"></div>
    <div class="sk-circle5 sk-circle"></div>
    <div class="sk-circle6 sk-circle"></div>
    <div class="sk-circle7 sk-circle"></div>
    <div class="sk-circle8 sk-circle"></div>
    <div class="sk-circle9 sk-circle"></div>
    <div class="sk-circle10 sk-circle"></div>
    <div class="sk-circle11 sk-circle"></div>
    <div class="sk-circle12 sk-circle"></div>
</div>

<div *ngIf="!spinner">
  <h1>Product name : {{current_product?.product_name}}</h1>
  <hr>
  <div class="row">
    <div class="col-md-3" style="border:1px solid black; background-color: #fafdfc">
        <h2>Category Info.</h2>
        <h5>MAIN :</h5>
        <h6>{{current_product?.category_main}}</h6>
        <h5>SUB :</h5>
        <h6>{{current_product?.category_sub}}</h6>
    </div>
    <div class="col-md-3" style="border:1px solid black; background-color: #f3f7f6;">
      <h2>Other Info.</h2>
        <h5>PRICE :</h5>
        <h6>{{current_product?.price}}</h6>
        <h5>RATTING :</h5>
        <h6>{{current_product?.ratting}}</h6>
        <h5>INITIAL TIME :</h5>
        <h6>{{current_product?.ini_time}}</h6>
        <h5>END TIME :</h5>
        <h6>{{current_product?.end_time}}</h6>
    
    </div>
    <div class="col-md-3" style="border:1px solid black; background-color: #fafdfc">
      <h2>Owner Details :</h2>
        <h5>Owner name : </h5>
        <h6>{{current_product?.owner_name}}</h6>
        <h5>Owner email : </h5>
        <h6>{{current_product?.owner_email}}</h6>
        <h6>CITY :</h6>
        <h6>{{current_product?.city}}</h6>
        <h5>STATE :</h5>
        <h6>state : {{current_product?.state}}</h6>
    </div>
    <div class="col-md-3" style="border:1px solid black; background-color: #f3f7f6; ">
        <h2>DISCRIPTION :</h2>
        <p> {{current_product?.discription}}</p>
    </div>
  </div>
  <h2>IMAGES :</h2>
  <!-- <img src="" height="420" width="420"> -->
  <img src="http://localhost:4000/users/image/{{src}}" alt="">
  <hr>

  <button class="btn btn-primary" (click)="bookP()">Book Product</button>
  <!-- <div>
    <h1> PAYMENT :</h1>
    <button class="btn btn-danger" (click)= "payment()">Payment</button>
    <a  href={{url_payment}}>Click here to proceed to payment</a>

  </div> -->
</div>  
<br>


