<!--The content below is only a placeholder and can be replaced.-->

<navbar></navbar>


<br>
<div class="container">
  
  <flash-messages></flash-messages>
  <router-outlet></router-outlet>
 
</div >
    
    <!-- Footer Starts Here -->
    <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="logo">
                <img height="50px" width = "100px" src="https://tse4.mm.bing.net/th?id=OIP.q7Wu6f8Vb2Irhr2k-zXqcQHaEo&pid=Api&P=0&w=271&h=170" alt="">
              </div>
            </div>
            <div class="col-md-12">
              <div class="footer-menu">
                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Help</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">How It Works ?</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-12">
              <div class="social-icons">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-rss"></i></a></li>
                  <!-- <li> <img height="30px" width="30px" src="https://tse1.mm.bing.net/th?id=OIP.fAA-1EqTinNMiq_8nz3kVAHaHa&pid=Api&P=0&w=300&h=300" alt="Avatar">  </li> -->
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer Ends Here -->
  
  
      <!-- Sub Footer Starts Here -->
      <div class="sub-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="copyright-text">
                <p>Copyright &copy; 2019 Rent karo 
                  
                  - Renting site: <a rel="nofollow" href="https://www.facebook.com/">Facebook</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Sub Footer Ends Here -->
